#root {
  max-width: 1280px;
  width:60vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.message{
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 5px;
  max-width: 80vw;
}

.message input{
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.messages{
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: grey;
  border-radius: 10px;
  padding:20px;
  max-width:80vw
}

.sent-message{
  align-self:flex-end;
  background-color:rgb(36, 122, 151);
  color:white;
  padding:15px;
  border-radius:10px;
  word-wrap: break-word;

}


.recieved-message{
  align-self:flex-start;
  background-color:rgb(0, 0, 0);
  color:white;
  padding:15px;
  border-radius:10px;
  word-wrap: break-word;
}